<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
  
  <!-- The following context params can be overridden by system properties with the same name -->
  <context-param>    
   <description>Number of milliseconds a token is considered valid</description>
   <param-name>oss.token.ttl</param-name>
   <param-value>15000</param-value>
  </context-param>
  
  <context-param>    
   <description>Comma separated list of SSH key fingerprints that can generate secrets</description>
   <param-name>oss.gensecret.sshkeys</param-name>
   <param-value>fd:c3:7a:......:5c:8a:13</param-value>
  </context-param>   

  <context-param>    
   <description>Comma separated list of SSH key fingerprints that can initialize the Open Secret Server</description>
   <param-name>oss.init.sshkeys</param-name>
   <param-value>46:94:d7:......:26:d9:ac</param-value>
  </context-param>
     
  <context-param>    
   <description>Root directory under which secrets are stored</description>
   <param-name>oss.keystore.dir</param-name>
   <param-value>/var/tmp/oss.keystore.dir</param-value>
  </context-param>

   
  <!-- GuiceServlet -->
  <filter>
    <filter-name>GuiceFilter</filter-name>
    <filter-class>com.google.inject.servlet.GuiceFilter</filter-class>
  </filter>

  <filter-mapping>
    <filter-name>GuiceFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <listener>
    <listener-class>com.geoxp.oss.servlet.GuiceServletConfig</listener-class>
  </listener>

  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>

</web-app>
